.main_login{
    background-color: #FFF2CC;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i{
        color:#1484C4;
        font-size: 72px;
       
    }
    h1{
        color:#1484C4;
        font-size: 36px;
        font-weight: bold;
    }

    .login{
        width: 350px;
        height: 300px;
        background-color: #1484C4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 5px 25px #1484C4;
        input{
            width:200px;
            height: 35px;
            margin-top: 10px;
            background: transparent;
            border: none;
            border-bottom: 1px #fff solid;
            color:#fff;
            outline: none;
            &::placeholder{
                color:#fff;
            }
        }
        input[type="submit"]{
            border:1px #fff solid;
            border-radius: 5px;
            color:#fff;
            margin-top: 20px;
            font-weight: bold;
            &:hover{
                background-color: #CCF6F4;
                transition: .5s;
                color:#1484C4;
            }
        }
    }
}





