.main_register{
    background-color: #fff;
    min-height: 120vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i{
        color:#434861;
        font-size: 72px;
       
    }
    h1{
        color:#434861;
        font-size: 36px;
        font-weight: bold;
    }

    .register{
        width: 500px;
        height: 600px;
        background-color: #EEE7DC;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        table{
            display:flex;
            justify-content:center;
            align-items:center;
            height:580px;

            tr{
                height:50px;
               td{
                 font-size:20px;
                 color:#333; 
                 width: 120px;

                 


               }
                .td-content{
                    border-bottom:1px #aaa solid;
                 width:300px;
                    select{
                width:300px;
                    option{
                        width: 100px;
                        height: 30px;
                          }
                    }
                    input{

                        width:300px;
                        &::placeholder{
                            color:#bbb;
                        }
                    }
                }
        }

    }
        input{
            width:200px;
            height: 35px;
            margin-top: 10px;
            background: transparent;
            border: none;
           
            color:#434861;
            outline: none;
            &::placeholder{
                color:#ddd;
            }
        }
        input[type="submit"]{
            width:100px;
            border:1px #434861 solid;
            background:#434861;
            border-radius: 5px;
            color:#fff;
            margin-bottom: 40px;
            font-weight: bold;
            &:hover{
                background-color: transparent;
                transition: .5s;
                color:#434861;
            }
        }
    }
}


@media screen and (max-width:768px) {
   .main_register .register{
        width:100%;
        
    }
    
}

