.main_register {
  background-color: #fff;
  min-height: 120vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_register i {
  color: #434861;
  font-size: 72px;
}

.main_register h1 {
  color: #434861;
  font-size: 36px;
  font-weight: bold;
}

.main_register .register {
  width: 500px;
  height: 600px;
  background-color: #EEE7DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.main_register .register table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 580px;
}

.main_register .register table tr {
  height: 50px;
}

.main_register .register table tr td {
  font-size: 20px;
  color: #333;
  width: 120px;
}

.main_register .register table tr .td-content {
  border-bottom: 1px #aaa solid;
  width: 300px;
}

.main_register .register table tr .td-content select {
  width: 300px;
}

.main_register .register table tr .td-content select option {
  width: 100px;
  height: 30px;
}

.main_register .register table tr .td-content input {
  width: 300px;
}

.main_register .register table tr .td-content input::-webkit-input-placeholder {
  color: #bbb;
}

.main_register .register table tr .td-content input:-ms-input-placeholder {
  color: #bbb;
}

.main_register .register table tr .td-content input::-ms-input-placeholder {
  color: #bbb;
}

.main_register .register table tr .td-content input::placeholder {
  color: #bbb;
}

.main_register .register input {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  background: transparent;
  border: none;
  color: #434861;
  outline: none;
}

.main_register .register input::-webkit-input-placeholder {
  color: #ddd;
}

.main_register .register input:-ms-input-placeholder {
  color: #ddd;
}

.main_register .register input::-ms-input-placeholder {
  color: #ddd;
}

.main_register .register input::placeholder {
  color: #ddd;
}

.main_register .register input[type="submit"] {
  width: 100px;
  border: 1px #434861 solid;
  background: #434861;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}

.main_register .register input[type="submit"]:hover {
  background-color: transparent;
  -webkit-transition: .5s;
  transition: .5s;
  color: #434861;
}

@media screen and (max-width: 768px) {
  .main_register .register {
    width: 100%;
  }
}
/*# sourceMappingURL=register.css.map */