.startclass_main{
	min-height:100vh;
	height:auto;
	background-color:rgb(245,245,245);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width:100%;
	padding:10em 10em;
	
	.startclass_main_title{
		width:150px;
		height:40px;
		border-radius:10px;
		background:#F4B183;
		text-align:center;
		line-height:40px;
		position:absolute;
		top:120px;
		left:30px;
		font-weight:600;
	}
	.startclass_content{
		display:flex;
		flex-wrap:wrap;
		.startclass_contents{
			width:300px;
			height:200px;
			border:2px #000 solid;
			position:relative;
			display:flex;
			justify-content: center;
			align-items:center;
			margin:20px 30px;
			h1{
				font-family: sans-serif;
				position:absolute;
				top:-25px;
				left: calc(50% - 25px);
				font-size:36px;
				width:50px;
				height:50px;
				text-align:center;
				background:rgb(245,245,245);
			}
			p{
				font-size:24px;
			}
		}
	}
}

@media screen and (max-width:1024px) {
	.startclass_main{
		padding:10em 2em;
	
	}
	
}

@media screen and (max-width:768px) {
.startclass_main{
		padding:10em 0;
	
	}
.startclass_contents{
	width:250px;
}


}