.main_login {
  background-color: #fff;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_login i {
  color: #434861;
  font-size: 72px;
}
.main_login h1 {
  color: #434861;
  font-size: 36px;
  font-weight: bold;
}
.main_login .login {
  width: 350px;
  height: 300px;
  background-color: #EEE7DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
 
}
.main_login .login input {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px #434861 solid;
  color: #434861;
  outline: none;
}
.main_login .login input::-webkit-input-placeholder {
  color: #434861;
}
.main_login .login input::-moz-placeholder {
  color: #434861;
}
.main_login .login input:-ms-input-placeholder {
  color: #434861;
}
.main_login .login input::-ms-input-placeholder {
  color: #434861;
}
.main_login .login input::placeholder {
  color:#434861;
}
.main_login .login input[type=submit] {
  border: 1px #434861 solid;
  border-radius: 5px;
  background: #434861;
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
}
.main_login .login input[type=submit]:hover {
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #434861;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
header #header_btn {
  display: none;
}
header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .brand img {
  width: 70px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .brand input[type=text] {
  width: 200px;
  height: 35px;
  margin-left: 20px;
  border: none;
  border: 2px #000 solid;
}
header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header .navigation li {
  list-style: none;
  position: relative;
}
header .navigation li ul {
  position: relative;
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
  border: 1px #000 solid;
  background: #fff;
  display: none;
}
header .navigation li ul::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 40px;
  width: 0;
  height: 0;
  border: 20px solid #fff;
  border-color: transparent transparent #fff transparent;
}
header .navigation li ul::before {
  content: "";
  position: absolute;
  top: -42px;
  left: 39px;
  width: 0;
  height: 0;
  border: 21px solid #000;
  border-color: transparent transparent #000 transparent;
}
header .navigation li ul li {
  margin-top: 10px;
  border-bottom: 1px #000 solid;
  text-align: center;
  width: 120px;
  margin: auto;
}
header .navigation i {
  margin-right: 5px;
}
header .navigation a {
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 15px 0 15px;
  position: relative;
}
header .navigation a:hover {
  color: #006cd9;
}
header .navigation #login {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px #2fbcf4 solid;
  color: #2fbcf4;
}
header .navigation #register {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px #2fbcf4 solid;
  color: #fff;
  background-color: #2fbcf4;
}

.main_class {
  padding-top: 8em;
  background-color: #EEE7DC;
  min-height: 50vh;
  height: auto;
  padding-bottom: 50px;
}
.main_class .main_class_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 28px;
}


.main_class .item {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
}
.main_class .item img {
  width: 100%;
}
.main_class .item img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main_class .item .items {
  border-left: 5px #ED7D31 solid;
}
.main_class .item .items .itemss {
  margin-top: 10px;
}
.main_class .item .items .itemss p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_class .item .items .itemss p i {
  font-size: 24px;
  margin-right: 5px;
}
.main_class .item .items .itemss h1 {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}
.main_class .item .items .itemss h2 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main_class .item .items .itemss span {
  color: #ED7D31;
  font-weight: bold;
  font-size: 22px;
}

.all-class {
  background-color: #F5EAE8;
  min-height: 50vh;
  height: auto;
  padding-bottom: 50px;
}
.all-class select {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: 3em 0 3em 3em;
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
  font-size: 18px;
}

.all-class .item {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
}
.all-class .item img {
  width: 100%;
}
.all-class .item img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.all-class .item .items {
  border-left: 5px #ED7D31 solid;
}
.all-class .item .items .itemss {
  margin-top: 10px;
}
.all-class .item .items .itemss p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.all-class .item .items .itemss p i {
  font-size: 24px;
  margin-right: 5px;
}
.all-class .item .items .itemss h1 {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}
.all-class .item .items .itemss h2 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.all-class .item .items .itemss span {
  color: #ED7D31;
  font-weight: bold;
  font-size: 22px;
}
.all-class .item .itemss {
  margin-top: 10px;
}
.all-class .item .itemss p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.all-class .item .itemss h1 {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}
.all-class .item .itemss h2 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.all-class .item .itemss span {
  color: #ED7D31;
  font-weight: bold;
  font-size: 22px;
}

.footer {
  background: #aaa;
  color: #fff;
  text-align: center;
  padding: 1em;
  z-index: 9999;
}
.footer .footer-title {
  font-size: 20px;
  font-weight: 800;
}
.footer p {
  font-size: 16px;
  margin-top: 10px;
}
.footer p a {
  color: var(--main-color);
  font-weight: 800;
  text-decoration: none;
}

.sm_nav {
  display: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top:50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination li {
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
}
.pagination li a:hover {
  background: #ccc;
}

@media screen and (max-width: 1024px) {
  .sm_nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgba(0, 225, 255, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999999999;
  }
  .sm_nav li {
    list-style: none;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 5px #000 solid;
  }
  .sm_nav li a {
    color: #000;
    text-decoration: none;
  }

  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navigation {
    display: none;
  }
  header #header_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
  }
}

@media screen and (max-width: 415px) {
  .brand input[type=text] {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
    border: 2px #000 solid;
  }
}